* {
  font-family: 'Cairo', sans-serif;
}

[dir='rtl'] {
  color: #319EAC;
}

[dir='rtl'] .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 82px;
}

[dir='rtl'] * {
  text-align: right;
}

@media (max-width: 800px) {
  [dir='rtl'] .rtlOrLtr {
    top: 25px;
    left: 90px;
    position: absolute;
  }
}

[dir='rtl'] .mRL-auto {
  margin-right: auto;
}

[dir='rtl'] .float-buuton {
  float: left;
}

[dir='ltr'] {
  color: #319EAC;
}

[dir='ltr'] .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 82px;
}

@media (max-width: 800px) {
  [dir='ltr'] .rtlOrLtr {
    top: 25px;
    right: 90px;
    position: absolute;
  }
}

[dir='ltr'] .mRL-auto {
  margin-left: auto;
}

[dir='ltr'] .float-buuton {
  float: right;
}

header {
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.heightImg {
  height: 250px;
}

.trans {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 100%;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}

.trans i {
  color: #fff;
  cursor: pointer;
  font-size: 50px;
}

.img-trans {
  overflow: hidden;
}

.item:hover .trans {
  top: 0%;
  left: 0%;
}

.item p {
  color: #777777;
  font-size: 14px;
}

.navbar-brand img {
  display: block;
  max-height: 60px;
  object-fit: contain;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav-link {
  color: #000 !important;
  font-size: 18px;
  font-weight: 700;
}

.nav-link:hover {
  color: #319EAC !important;
}

.title-watch {
  color: #319EAC;
  font-weight: 700;
}

button {
  background-color: #fff;
  color: #319EAC;
  border: 2px solid #319EAC;
  outline: none !important;
}

button:hover {
  background-color: #319EAC;
  color: #fff;
}

.owl-prev,
.owl-next {
  outline: none !important;
  height: 50px;
  width: 50px;
  background-color: #fff !important;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 40%;
}

.owl-prev i,
.owl-next i {
  color: #319EAC;
}

.owl-prev {
  left: -30px !important;
  z-index: 999555555555555555555555555555555555555555555555555555555555555555555555555559999 !important;
}

.owl-next {
  z-index: 999555555555555555555555555555555555555555555555555555555555555555555555555559999 !important;
  right: -30px !important;
}

@media (max-width: 800px) {
  .owl-prev {
    left: -20px !important;
  }
  .owl-next {
    right: -20px !important;
  }
}

#test-cofid {
  margin-top: -50px;
}

ul {
  list-style-type: none;
}

ul li {
  line-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #319EAC transparent transparent !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #319EAC !important;
}

.result {
  color: #319EAC;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.quesion {
  color: #319EAC;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.fa-circle {
  font-size: 12px;
  color: #f35b67;
}

.fa-mobile-alt {
  color: #f35b67;
}

nav {
  top: -5px !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}

.rtlOrLtr {
  border: 2px solid #319EAC;
  cursor: pointer;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rtlOrLtr a {
  color: #319EAC !important;
}

.rtlOrLtr:hover {
  background-color: #319EAC;
}

.rtlOrLtr:hover a {
  color: #fff !important;
}
